* {font-family: 'Times New Roman'; 
    font-size: 12pt; 
    line-height: 2.0;
    /* background-color: rgb(250, 239, 224); */
}


@page {
    size: A4;
    margin-top: 10mm;
    margin-right: 20mm;
    margin-bottom: 25mm;
    margin-left: 15mm;
  
    @bottom-right {
      /* content: counter(page); */
      content: "Page " counter(page) " of " counter(pages);
    }
  
    @bottom-center {
      content: string(title);
      text-transform: uppercase;
    }
  
  }

@media print{
    @page {
        size: A4;
        margin: 10mm 15mm;
        bleed: 6mm;
        marks: crop cross;
    }
    @page:left {
        margin-left: 30mm;
        margin-right: 20mm;
    }
    @page:right {
        margin-left: 20mm;
        margin-right: 30mm;
    }
    .chapter{
        break-before: right;
    }
}
  